.fr {
    float: right
}

body {
    padding-bottom: 100px;
}

h2 {
    font-size: 22px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h2 small {
    font-size: 14px;
}

.search-panel {
    border-bottom: 1px solid #ccc;
}

.button-sp-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
}

.button-sp-area a.weui-btn {
    width: 40%;
    float: left;
    display: block;
    margin-top: 0;
    margin-left: 6%;
    height: 40px;
    line-height: 40px;
}

.question .title {
    font-size: 18px;
    margin-bottom: 13px;
}

.question {
    padding: 14px;
}

.question ul {
    line-height: 30px;
    font-size: 16px;
}

.tip50 {
    padding: 15px;
}

.search-list > li {
    border-bottom: 1px solid #ccc;
}
